@import 'config';
@import 'buttons';
@import 'media-queries';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $very-light-gray;
    font-family: $font-stack;
}

img {
    width: 31%;
    margin-top: 17px;
    padding-left: 30px;
    color: $bright-orange;

    @include tablet {
        padding-left: 50px;
    }
}

h2 {
    font-family: "Big Shoulders Display", sans-serif;
    color: $very-light-gray;
    padding: 10px 30px;

    @include tablet {
        padding: 20px 40px 10px 50px ;
    }
}

p {
    font-family: "Lexend Deca", sans-serif;
    font-size: $p-size;
    padding: 0px 0px 0px 30px;
    color: $very-light-gray;
    font-weight: 100;

    @include tablet {
        padding: 10px 40px 10px 50px;
        font-size: $p-mobile;
    }
}


.flex-container {
    display: flex;
    margin-left: 20%;
    margin-top: 100px;
    border: 1px solid green;
    width: 60vw;
    // height: 78vh;

    @include tablet {
        display: block;
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }

    .column-1 {
        background-color: $bright-orange;
        width: 20vw;

        @include tablet {
            width: 100%;
            height: 33.33%;
        }
        
    }

    .column-2 {
        background-color: $dark-cyan;
        width: 20vw;

        @include tablet {
            width: 100%;
            height: 33.33%;
        }
    }

    .column-3 {
        background-color: $very-dark-cyan;
        width: 20vw;

        @include tablet {
            width: 100%;
            height: 33.33%;
        }
    }

    .btn-1 {
        @extend button;
        font-size: $p-size;
    }
    
    .btn-2 {
        @extend button;
        font-size: $p-size;
    }
    
    .btn-3 {
        @extend button;
        font-size: $p-size;
    }

    .btn-1, .btn-2, .btn-3 {
        a {
            text-decoration: none;
        }
        @include tablet {
            margin: 60px 0px 30px 50px;
        }
    }
}


